<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
        <a class="navbar-brand" href="https://sebasqr22.github.io/status-tech/#/" target="_blank">
            <img src="assets/logo_transparente.png" width="5%"> Status Tech
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="https://sebasqr22.github.io/status-tech/#/contacto" target="_blank">Contacto</a></li>
            </ul>
        </div>
    </div>
</nav>


<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">VINYLTIFY</h1>
                <p class="fs-4">Get a personalized Vinyl Record Cover with your best tracks from Spotify!</p>
                <a class="btn btn-success btn-lg" (click)="login()">Spotify Login</a>
            </div>
        </div>
    </div>
</header>


<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Status Tech</p></div>
</footer>